<% provide(:title,"Help") %>
<head>
  <title><%= yield :title %> | RoR Tutorial Sample App</title>
</head>

<body>
  <h1>Help Page</h1>
  <p>This is a static palce holder for an help pager. The controller adds nothing at the moment. it's all about the view.</p>
</body>